.about {
  height: 80vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  padding: 10px;
  margin: 10px;
}

.members {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  /* background-color: rgb(125, 164, 172); */
}

.Bryant {
  background-color: rgb(99, 205, 216);
  margin: 10px;
  padding: 10px;
}

.Fatema {
  background-color: rgb(99, 205, 216);
  margin: 10px;
  padding: 10px;
}

.Josh {
  background-color: rgb(99, 205, 216);
  margin: 10px;
  padding: 10px;
}

.Sev {
  background-color: rgb(99, 205, 216);
  margin: 10px;
  padding: 10px;
}

.Bryant:hover {
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
  background-color: rgb(215, 122, 101);
}

.Fatema:hover {
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
  background-color: rgb(215, 122, 101);
}

.Josh:hover {
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
  background-color: rgb(215, 122, 101);
}

.Sev:hover {
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
  background-color: rgb(215, 122, 101);
}

.project {
  padding-top: 30px;
  padding-bottom: 30px;
  padding: 30px 10px 30px 10px;
  margin: 30px 10px 30px 10px;
  background-color: rgb(99, 205, 216);
} 

.project:hover {
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
  background-color: rgb(215, 122, 101);
}

h4 {
  padding: 10px;
  margin: 10px;
}

.description {
  padding: 0px  10px 0px 10px;
  margin: 0px 10px 0px 10px;
}

.whiteSpace {
  height: 22vh;
  background-color: rgb(99, 205, 216);
  padding: 14px 10px 14px 10px;
  margin: 10px;
  overflow: scroll;
}

.whiteSpace:hover {
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
  background-color: rgb(215, 122, 101);
}

.repo {
  padding: 10px;
  padding-top: 60px;
  margin: auto;
}

.repo-link {
  color: rgb(69, 68, 68);
  text-shadow: 1px 1px rgb(99, 205, 216);
  text-decoration: none;
}
